version: '3.8'
services:
  db:
    image: mysql:latest
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: raffle
      MYSQL_USER: raffle_user
      MYSQL_PASSWORD: testpassword
    ports:
      - '3306:3306'
    volumes:
      - mysql-data:/var/lib/mysql
      - ./src/lib/server/db/schema.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 20s
      retries: 10

volumes:
  mysql-data:
