name: Build and Push arm64 Docker Image to Oracle Container Registry

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Log in to Oracle Container Registry
      - name: Log in to Oracle Container Registry
        uses: docker/login-action@v3
        with:
          registry: lhr.ocir.io
          username: ${{ secrets.OCI_USERNAME }}
          password: ${{ secrets.OCI_API_KEY }}

      # Build and push arm64 Docker Image
      - name: Build and push arm64 Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: lhr.ocir.io/lrwuubtwxjma/constellation-images/give-a-raffle:1.0.0
